*.plist
IntelliJIdea2019.3/workspace
IntelliJIdea2019.3/port
IntelliJIdea2019.3/options/recentProjects.xml
IntelliJIdea2019.3/options/workspace.xml
IntelliJIdea2019.3/options/window.state.xml
IntelliJIdea2019.3/options/usage.statistics.xml
IntelliJIdea2019.3/options/recentProjects.xml

IntelliJIdea2019.1/workspace
IntelliJIdea2019.1/port
IntelliJIdea2019.1/consoles
IntelliJIdea2019.1/options/recentProjects.xml
IntelliJIdea2019.1/options/workspace.xml
IntelliJIdea2019.1/options/window.state.xml
IntelliJIdea2019.1/options/window.manager.xml
IntelliJIdea2019.1/options/usage.statistics.xml
IntelliJIdea2019.1/options/recentProjects.xml

doublecmd/history.xml
doublecmd/session.xml
