*.plist
IntelliJIdea2019.3/workspace
com.apple.LaunchServices.QuarantineEventsV2
doublecmd/history.xml
doublecmd/session.ini
IntelliJIdea2019.3/options/window.state.xml
IntelliJIdea2019.3/options/recentProjects.xml
IntelliJIdea2019.3/options/usage.statistics.xml